body{
    margin: 0;
    top: 0;
}

header{
    background-color: #2B2A2A;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: gray 1px solid;
}

div.menu-icon, div.exit-icon{
    padding: 15px 30px;
    font-size: 20px;
}

div.menu-icon:hover{
    cursor: pointer;
}

h1{
    margin: 0;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: normal;
}

.hidden{
    display: none;
}

div.menu{
    position: absolute;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #2B2A2A;
}

ul{
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul>li{
    padding: 20px 30px;
    border-bottom: 1px gray solid;
    width: 80%;
}

ul>li:hover{
    cursor: pointer;
}
