body{
    margin: 0;
    top: 0;
}

header{
    background-color: #2B2A2A;
    color: white;
    display: flex;
    justify-content: space-between;
}

div.icon{
    padding: 15px 30px;
    font-size: 20px;
}

div.icon:hover{
    cursor: pointer;
}

h1{
    margin: 0;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: normal;
}
